.user-data-dive{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.user-data-dive img{
    width:  50px;
    height: 50px;
    border-radius: 100%;
}

.user-data-dive span{
    font-size: 20px;
    margin-left: 5px;
    color: white;
}

.testing{
    border: 5px solid black;
}